body {
  padding-top: 30px;
  padding-left: 20px;
}
.mod_drops-template {
  padding: 5px 3px;
  text-align: center;
  margin: 5px 5px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #9b59b6;
  border-color: #8e44ad;
}

.navbar-inverse {
  background-color: #9b59b6;
  border-color: #8e44ad;
  background-image: linear-gradient(to bottom,#9b59b6 0,#9b59b6 100%);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #662f7e;
  background-image: linear-gradient(to bottom,#662f7e 0,#662f7e 100%);
}

.navbar-inverse .navbar-nav > li > a {
  color: #dddddd;
}


.navbar-inverse .navbar-brand {
  color: #dddddd;
}

.other_portrait {
  height: 5em;
}

.portrait {
  height: 15em;
}

.btn-primary {
  background-image: linear-gradient(to bottom,#00CC00 0,#00A300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #00A300;
}



.btn-primary:focus, .btn-primary:hover {
  background-image: linear-gradient(to bottom,#00BB00 0,#009200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #009200;
  background-color: #265a88;
  background-position: 0 0px;
}

.homebutton {
  padding: .6em;
  margin: 0em 2em;
  background-color: #00CC00;
  border-color: #00A300;
  border-width: .2em;
  border-radius: 20%;
  border-top-left-radius: .75em .75em;
  border-top-right-radius: .75em .75em;
  border-bottom-left-radius: .75em .75em;
  border-bottom-right-radius: .75em .75em;
  font-size: 1.2em;
}

a {
  color: #FFEB99;
}

a:hover {
  color: #FFEB99;
}

.btn-default:focus,
.btn-default:active,
.btn-default.active
{
  background-color: #00AA00;
  border-color: #00B300;
}

.btn-default:hover
{
  background-color: #00CC00;
  border-color: #00A300;
}

@font-face {
  font-family: 'pwgroovymedium';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/PWGroovy.woff") format('woff');
}

body {
  font-family: "pwgroovymedium",Helvetica,Arial,sans-serif;
