{% extends "base.html" %}
{% block title %}
    <title>Home
    </title>
{% endblock %}
{% block body %}
<div id="index">
    <header>
        <div class="container-fluid">
            <div class="row">
            {% for random_image in random_images %}
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{ random_image.picture }}">
                    </a>
                    <p>{{ random_image }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
        <p class="lead">Register or log in to upload your mod images to Mod Drops.</p>
        {% if not user.is_authenticated %}
            <p>
                <button type="button" class="btn btn-primary homebutton">
                    <a role="button" href="{% url 'auth_login' %}">Login</a>
                </button>
                <button type="button" class="btn btn-primary homebutton">
                    <a role="button" href="{% url 'registration_register' %}">Join Now!</a>
                </button>
            </p>
        {% endif %}
    </header>    

    <!-- <p>The Amazing Mod Drops! Static URL: {{ STATIC_URL }}</p>
    <div>
        <img src="{{ STATIC_URL }}">
    </div> -->
</div>
{% endblock %}