nav {
    float: center;
    text-align: center;
    text-decoration: none;
    background-color: cyan;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}
header .logout a, .login a {
    background-color: lightgreen;
    margin: 10em;
}