{% extends "base.html" %}
{% block body %}
    {% if user.is_authenticated %}
    <div id="other_users">
        <h3>Other users</h3>
        <ul>
            <li>Username: {{ user.username }}</li>
            {% for other_user in object_list %}          
                {% if other_user = user %}
                {% else %}
                <li>
                    <h3>{{ other_user }}</h3>
                </li>
                {% endif %}          
            {% endfor  %}
        </ul>
    </div>
    {% endif %}
{% endblock %}