{% extends "base.html" %}
{% block body %}
    {% load staticfiles %}
    {% if user.is_authenticated %}
    <div id="profile">
        <h1>Profile Detail View</h1>
        <ul>
            {% if user.profile.picture %}
            <li><img src="{{user.profile.picture.url}}"></li>
            {% else %}
            <li><img src="{% static 'user_profile/images/default_profile_image.png' %}" alt="Profile Image"/></li>
            {% endif %}
            <li>Username: {{ user.username }}</li>
            <li>First name: {{ user.first_name }}</li>
            <li>Last name: {{ user.last_name }}</li>
            <li>Phone: {{ user.profile.phone }}</li>
            <li>Birthday: {{ user.profile.birthday }}</li>
            <li>Image Count: {{ image_count }}</li>
            <li><a href="{% url 'profile:profile_update' user.profile.pk %}">Edit</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
<h1>Profile Detail View</h1>