{% extends "base.html" %}
{% if user.is_authenticated %}
    {% load threadedcomments_tags %}
    {% block body %}
    <div id = "image_page">
        <h3>Image from user {{ image.user }}</h3>
        <img src="{{ MEDIA_URL }}{{ image.picture }}">
        <p>Source: {{ image.source }}</p>
        <p>Year: {{ image.year }}</p>
        <p>Image PK: {{ image.pk }}</p>
        {% if image.user = user %}
            <p><a href="{% url 'image:edit_image' image.pk %}">Edit</a></p>
        {% endif %}
        <div class = "prev">
        {% if not prev_image == -1 %}
            <a href="{% url 'image:image_page' prev_image %}" >prev {{ prev_image }} </a>
        {% else %}
            First Image
        {% endif %}
        </div>
        <div class = "next">
        {% if not next_image == -1 %}
            <a href="{% url 'image:image_page' next_image %}" >next {{ next_image }} </a>
        {% else %}
            Last Image
        {% endif %}
        <h2>Comments for {{ object.title }}:</h2>
        {% render_comment_list for object %}
        {% render_comment_form for object %}
        </div>
    </div>
    {% endblock %}
{% endif %}